@use '../mixins' as *;

.button-group {
  display: flex;
  gap: 8px;
}

button {
  flex: 1;
  padding: 10px 16px;
  border: none;
  font: var(--font-body-medium-500);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

// Lignes décoratives en haut et en bas
button::before,
button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: calc(100% - 4px);
  left: 50%;
  transform: translateX(-50%);
}

button::before {
  top: -2px;
}

button::after {
  bottom: -2px;
}

.primary {
  @include btn-variant(var(--color-purple-500), var(--color-text-invert), var(--color-purple-600));
}
